@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  color: #202124;
}

body {
  background-color: #fafafa;
}

.container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.task .task-title {
  color: #541388;
  margin-bottom: 8px;
}

.task .task-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
  width: 400px;
  border: 1px solid #ccc;
  background-color: #ffffff;
}

.task .task-form .form-control {
  font-size: 16px;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
  border: none;
  padding: 0;
  margin: 0;
  -webkit-transition: ease 2s;
  transition: ease 2s;
}

.task .task-form .form-control::-webkit-input-placeholder {
  font-size: 16px;
}

.task .task-form .form-control:-ms-input-placeholder {
  font-size: 16px;
}

.task .task-form .form-control::-ms-input-placeholder {
  font-size: 16px;
}

.task .task-form .form-control::placeholder {
  font-size: 16px;
}

.task .task-form .form-control:focus {
  outline: none;
}

.task .task-form .input-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.task .task-form .input-button .material-icons {
  color: #541388;
  font-size: 20px;
}

.task .task-list {
  list-style: none;
  padding: 0;
}

.task .task-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 1px solid #f4f1bb;
  padding: 8px;
  margin-top: 8px;
}

.task .task-list li .material-icons {
  color: #f4f1bb;
  font-size: 20px;
  cursor: pointer;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 400px;
}

.login .title {
  font-size: 2rem;
  color: #541388;
  margin-bottom: 16px;
}

.login .login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login .login-form input {
  height: 48px;
  padding: 8px 16px;
  margin-bottom: 16px;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  -webkit-transition: linear 400ms;
  transition: linear 400ms;
}

.login .login-form input:focus {
  outline: none;
  border: 1px solid #541388;
}

.login .login-form input[type="submit"] {
  background-color: #541388;
  border: none;
  color: #ffffff;
}

.login .login-form input[type="submit"]:hover {
  color: #541388;
  background-color: #ffffff;
  border: 1px solid #541388;
}
/*# sourceMappingURL=index.css.map */